faiss_cpu==1.10.0
fastapi==0.115.12
numpy<2
pandas==2.2.3
pydantic==2.11.1
starlette==0.46.1

sentence-transformers==4.0.1
transformers==4.41.2
torch==2.2.2
accelerate==0.27.2
huggingface-hub==0.23.3
uvicorn[standard]

